<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">

    <title>Dresses</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-1">
        <a class="navbar-brand" href="dresses.html" th:href="@{/dresses}">
            <img src="../../resources/static/img/logo.svg"
                 th:src="@{/resources/static/img/logo.svg}"
                 width="32" height="32" alt="Dress Rental">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="dresses.html" th:href="@{/dresses}">DRESSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rents.html" th:href="@{/rents}">RENTED DRESSES</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-light navbar-light mb-1">
        <span class="navbar-brand text-uppercase mr-auto">List of dresses</span>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="dress.html" th:href="@{/dresses/new}" class="btn btn-success"><span>Add</span></a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-sm-10">

                <div th:if="${removalProhibited}" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Removal is not possible!</strong> The dress with the given identifier has orders.
                </div>

                <div class="card">

                    <table class="table table-striped table-hover">
                        <thead >
                        <tr>
                            <th>Dress</th>
                            <th>Number of orders</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${dresses.empty}">
                            <td colspan="3">No dresses</td>
                        </tr>
                        <tr th:each="dress : ${dresses}">
                            <td th:text="${dress.dressName}"></td>
                            <td th:text="${dress.numberOfOrders}"></td>
                            <td>
                                <a href="dress.html"
                                   th:href="@{|/dresses/${dress.dressId}|}">Edit</a>
                                <a href="#deleteDressModal" data-toggle="modal"
                                   th:attr="data-id=${dress.dressId},
                                   data-name=${dress.dressName}, data-url=@{|/dresses/|}">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Total: <span th:text="${dresses.size()}"></span></b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>


<!--Delete modal HTML-->
<div id="deleteDressModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h4 class="modal-title">Delete Dress</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this dress?</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <a id="deleteDressUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
   $('#deleteDressModal').on('show.bs.modal', function(e) {
   var name = $(e.relatedTarget).data('name');
   var id = $(e.relatedTarget).data('id');
   var url = $(e.relatedTarget).data('url');

   $(e.currentTarget).find('.modal-body').text('Are you sure you want to remove the dress "' + name + '"?');
   document.getElementById('deleteDressUrl').href = url + 'delete/' + id;
 });



</script>
</body>
</html>

