<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">

    <title>Dresses</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
        <a class="navbar-brand" href="dresses.html" th:href="@{/dresses}">
            <img src="../../resources/static/img/logo.svg"
                 th:src="@{/resources/static/img/logo.svg}"
                 width="32" height="32" alt="Dress Rental">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="dresses.html" th:href="@{/dresses}">DRESSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="rents.html" th:href="@{/rents}">RENTED DRESSES</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-sm-8">
                <div class="card text-center">
                    <div class="card-header">
                          <span class="navbar-brand text-uppercase "
                                th:text="${isNew} ? 'New dress' : 'Edit dress'">Edit dress</span>
                    </div>

                    <form id="dressForm" action="dress.html" th:action="@{/dresses/}" th:object="${dress}"
                          th:method="@{post}">
                        <div class="card-body">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please fix errors below:</p>
                            </div>

                            <input type="hidden" th:field="*{dressId}">

                            <label for="inputDressName">Dress name</label>
                            <input type="text" class="form-control" id="inputDressName"
                                   th:field="*{dressName}" required
                                   th:class="${#fields.hasErrors('dressName')} ? 'form-control is-invalid' : 'form-control'"/>

                            <div th:if="${#fields.hasErrors('dressName')}"
                                 class="invalid-feedback"
                                 th:errors="*{dressName}">[errors]
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a href="dresses.html"
                               th:href="@{/dresses}"
                               class="btn btn-light mr-1">
                                Cancel</a>
                            <a href="dresses.html"
                               th:href="@{/dresses}"
                               th:onclick="@{document.forms['dressForm'].submit(); return false;}"
                               class="btn btn-primary"> Save</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>


</body>
</html>
