<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">

    <title>Rents</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">
            <img src="../../resources/static/img/logo.svg"
                 th:src="@{/resources/static/img/logo.svg}"
                 width="32" height="32" alt="Dress Rental">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="dresses.html" th:href="@{/dresses}">DRESSES</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="rents.html" th:href="@{/rents}">RENTED DRESSES</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-light navbar-light mb-1">
        <span class="navbar-brand text-uppercase mr-auto">List of rents</span>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="rent.html" th:href="@{/rent}" class="btn btn-success"><span>Add</span></a>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center ">
        <div>
            <form action="#" th:action="@{/rents}" th:method="get">
                <div class="form-row">
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Show data from:</div>
                            </div>
                            <input type="date" class="form-control" name="dateFrom" id="dateFrom">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">to:</div>
                            </div>
                            <input type="date" class="form-control" name="dateTo" id="dateTo">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info mb-2">Refresh</button>
                    </div>
                </div>
            </form>
            <div class="navbar-brand mr-auto justify-content-left ">
                Rents from: <span th:text="${#temporals.format(dateFrom, 'dd MMM yyyy')}"></span>
                to: <span th:text="${#temporals.format(dateTo, 'dd MMM yyyy')}"></span>
            </div>
            <div th:if="${incorrectPeriod}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Date from cannot be after date to!</strong> All rents are shown.
            </div>
        </div>
    </nav>


</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-sm-10">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Dress</th>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${rents.empty}">
                                <td colspan="4">No rents</td>
                            </tr>
                            <tr th:each="rent : ${rents}">
                                <td th:text="${rent.dressName}"></td>
                                <td th:text="${rent.client}"></td>
                                <td th:text="${#temporals.format(rent.rentDate, 'dd MMM yyyy')}"></td>
                                <td>
                                    <a href="rent.html"
                                        th:href="@{|/rent/${rent.rentId}|}">Edit</a>
                                    <a href="#deleteRentModal" data-toggle="modal"
                                       th:attr="data-id=${rent.rentId}, data-dressname=${rent.dressName},
                                    data-client=${rent.client}, data-date=${rent.rentDate}">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total: "undefined"</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<!--Delete modal HTML-->
<div id="deleteRentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h4 class="modal-title">Delete Rent</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this rent?</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <a id="deleteRentUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script>
   $('#deleteRentModal').on('show.bs.modal', function(e) {
   var rentId = $(e.relatedTarget).data('id');
   var client = $(e.relatedTarget).data('client');
   var rentDate = $(e.relatedTarget).data('date');
   var dressName = $(e.relatedTarget).data('dressname');

   $(e.currentTarget).find('.modal-body').text('Are you sure you want to remove the dress "' + dressName + '" rented by ' + client + ' on ' + rentDate + '?');
   document.getElementById('deleteRentUrl').href = '/rent/delete/' + rentId;
 });

</script>
</body>
</html>
